# Configuração do Supabase
VITE_SUPABASE_URL=https://jxxlntzmsitnontifmwq.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_NSQrbA3OKAHom1y7AVXHLQ_Yl-Md-sh

# Configuração da API local (Ollama / RAG)
VITE_API_URL=http://localhost:8000
